*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.heading{
    font-family: ;
    margin-top: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    line-height: 1.5em;
    text-align: center;
    font-size: large;
}

.heading .col-6{
    display: flex;
    justify-content: center;
}

.container0{
    height: 60vh;
    background-image: url('graph.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* max-width: 100%;
    height: auto; */
    /* display: block;
    margin: 0 auto;  */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    font-weight: 550;
    line-height: 1.8em;
    text-align: right;
    font-size: large;
}


.container1-img{
    max-width: 100%;
    border-radius: 6px;
}

.container1 .content{
    margin-top: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5em;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.container2 .content{
    margin-top: 5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5em;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}


/* Footer */
.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(116, 116, 241);
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
  }
  
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    /* margin: 0 auto; */
    background-image: linear-gradient(to bottom right, #5447e2c5,#1608b4c5);
  }
  
  .footer-items h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
  }
  
  .footer-items ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .footer-items li a {
    color: #ddd;
    font-size: 0.875rem;
  }

  .footer-items li {
    color: #ddd;
    font-size: 0.875rem;
  }
  
  .footer-items li a:hover {
    text-decoration: underline;
  }


i {
    margin-top: 10px;
    padding-right: 15px;
    font-size: 20px;
}

.flex-box{
    display:flex;
    background-image: linear-gradient(to bottom right,white,rgb(108, 108, 211));
}
.social-media{
    display: flex;
    padding-left: 1rem;
}
.flex-box li{
    list-style: none;
    padding-right:10px ;
}

.copyrights-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col{
    display:flex;
}
.col ul{
    padding-left: 0;
}
.follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
}
