*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.search-input{
    max-width: 600px;
    width:30%;
    font-size:1.4rem;
    border:2px solid #565fe8;
    border-radius: 5px;
    outline:none;
    padding-left:10px;
    background-color: #e4e5ed
}

.search-icon{
    max-width:45px;
    width:100%;
    font-size:1.2rem;
    background:#092783;
    color:#000;
    cursor:pointer;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}



