*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.search-input{
    max-width: 600px;
    width:20%;
    font-size:1.4rem;
    border:2px solid #565fe8;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline:none;
    padding-left:10px;
    background-color: #b6b7ca
}

.search-icon{
    max-width:45px;
    width:100%;
    font-size:1.2rem;
    background:#092783;
    color:#000;
    cursor:pointer;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}

.cart{
    display:flex;
}

.cart .cart-icon{
    font-size:2.5rem;
    color: white;
    margin-left: 15px;
}

.cart p{
    margin-top:20px;
    font-weight:500;
    color: white;
}

.main{
    display: flex;
    justify-content: space-evenly;
}


.carousal-item{
    transition-duration:0.5s;
    opacity:0.5s ease-out;
}

.row>*{
    padding-left: 0px;
    padding-right: 0px;
}


.graph{
    height: 50vh;
    background-image: url('graph.jpg');
    background-size: cover; /* Scale the image to cover the entire container */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image within the container */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 3rem;
}

.card{
    border-color: rgb(139, 139, 236);
    box-shadow: 5px 5px 10px #0D6EFD;
    margin-top: 20px;
}
.card {
    width: 18rem;
    position: relative;
    overflow: hidden;
}

.card img {
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.card:hover img {
    transform: scale(1.1); /* Adjust the scale factor for the zoom effect */
}

.card:hover{
    transform:scale(1.04);
}

h5{
    font-weight: 550;
    display: flex;
    justify-content: center;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
}


/* Footer */
.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(116, 116, 241);
    color: #fff;
    font-size: 0.875rem;
    font-weight: 600;
    height: 60px;
  }
  
  .footer-items {
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    /* margin: 0 auto; */
    background-image: linear-gradient(to bottom right, #5447e2c5,#1608b4c5);
  }
  
  .footer-items h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 10px 0;
  }
  
  .footer-items ul {
    list-style: none;
    margin-bottom: 20px;
  }
  
  .footer-items li a {
    color: #ddd;
    font-size: 0.875rem;
  }

  .footer-items li {
    color: #ddd;
    font-size: 0.875rem;
  }
  
  .footer-items li a:hover {
    text-decoration: underline;
  }


i {
    margin-top: 10px;
    padding-right: 15px;
    font-size: 20px;
}

.flex-box{
    display:flex;
    background-image: linear-gradient(to bottom right,white,rgb(108, 108, 211));
}
.social-media{
    display: flex;
    padding-left: 1rem;
}
.flex-box li{
    list-style: none;
    padding-right:10px ;
}

.copyrights-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col{
    display:flex;
}
.col ul{
    padding-left: 0;
}
.follow-us{
    display: flex;
    justify-content: center;
    align-items: center;
}
